/* --------- Default CSS --------- */
html{
    background-color: rgb(34, 29, 83);
    margin: 0;
    padding: 0;
}
/* --------- End of Default CSS --------- */

/* --------- Microfiche Overlay, needs a little grain --------- */


/* --------- Text to fade in on selecting box --------- */

/* --------- Navigation bar --------- */

/* --------- Grid that contains Icons --------- */

/* ---------  --------- */

